body{
  word-spacing: .1rem;
  padding:0;
  margin:0;
  Background-color:#F5F5DC;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.calender{
  background-color: #F5F5DC;
}
p{
  cursor:default;
}
.top{  
  align-items: center;
  display:flex;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
  width: 98%;
  height: auto;
  margin-left:1vw;
  margin-right:1vw;
}
.topbanner {
  display:flex;
  flex-direction: row;
  background-image: url('images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 400px;
  justify-content: flex-end;
}
.logo{
  width: auto;
  height: 30vw;
  max-height: 500px;
}

.Termin{
  margin-left: 2vw;
  order:2;
  font: italic 1.2em "Fira Sans", serif;
  font-size:2rem;
  background-color:transparent;
  font-weight: bold;
  color: black;
}
.column{
  flex-direction: column;
  padding-top: 50px;
  padding: 1vw;
}
.column img{
  width: 40px;
  height: auto;
}
.Social{
  order:1;
  display: flex;
  flex-direction: row;
}
.text{
  display: flex;
  flex-direction: column;
  color: black;
  width: 10vw;
  height: auto;
  justify-content: flex-end;
 margin: auto;
}
.text p {
  width: 10vw;
  max-width: 40px;
  min-width: 100%;
  height: auto;
  font-size: 2rem;
}
.drpcont {
  position: relative;
  top: 0;
  right: 0;
  width: auto;
  display: flex;
  flex-direction: column;
}

.dropbtn {
  align-self: flex-end;
  order: 1;
  background-image: url(images/dropdown.png);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
  width: 4vw;
  height: 4vw;
  min-width: 80px;
  min-height: 80px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 20px 20px;
  transition: all 0.3s;
}

.dropbtn:hover {
  background-color: transparent;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
  order: 2;
  max-height: 0;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
  border-radius: 10px 10px;
  margin-bottom: 5%;
  transition: max-height 0.5s ease-in-out; /* Add max-height transition */
}

.dropdown-content a {
  position: relative;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font: italic bold 1.2em "Monospace", "Monaco";
  font-size: 3vmin;
}

.dropdown-content a:hover, .dropdown-content a:focus {
  text-decoration: underline black;
}

.dropdown:hover .dropdown-content {
  max-height: 200px;
}

.show .dropdown-content {
  max-height: 200px; /* Adjust as needed */
}

/* New class for closing animation */
.close-animation {
  max-height: 0 !important;
}
.Therapie{
  order:2;

  color:black;
  position: relative;
  width: 50%;
  font-size: 2.5vmin;
}
.datenschutz-text{

  color:black;
  position: relative;
  top:25%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  width: auto;
  display: flex;
  flex-direction: column;
  font-size: 2.5vmin
}
.impressum-text{

  color:black;
  position: relative;
  top:25%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  width: auto;
  display: flex;
  flex-direction: column;
  font-size: 2.5vmin
}
.about-text{
  order:2;
  color:black;
  position: relative;
  width: 50%;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}
.imgcont{
  order: 1;
  margin-right: 5vw;
}
.Bertaung{
  order:2;

  color:black;
  position: relative;
  width: 50%;
  font-size: 1.5rem;
}
.Therapiecont{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10vw;
  margin-left: 2vw;
}
.aboutcont{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10vw;
  margin-left: 2vw;
}
.welcome{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10vw;
  margin-left: 2vw;
}
.welcome-text{
  order:2;
  color:black;
  position: relative;
  width: 50%;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.nav{
  width: 15%;
  display: flex;
  flex-direction:column;
  gap:3%
}
.nav-t{
  display:flex;
  flex-direction:column;
  margin-bottom: 3rem;
}
.nav h1{
  margin-bottom: 2rem;
  font-size: 2vmin;
  font-weight: bold;
  text-align: center;

}
.nav a{
  border-radius: 20px 20px;
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5vmin;
  cursor: pointer;
  background-color: rgba(15, 14, 255, 0.1)
}
.nav a:hover{
  color:red
}
.nav img{
  margin-bottom: 2rem;
  align-self: center;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}
.nav-v{
  display:flex;
  flex-direction:column;
  margin-bottom: 10rem;
}

.angebot{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10vw;
  margin-left: 2vw;
}
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}
.fotter-heading img{
  width: auto;
  height: 30vw;
  max-height: 200px;
}
.fotter-container{
  background: #6586a1;
  padding:4rem;

}
.fotter{
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  width: 80%;
  height: 20vh;
  background: #6586a1;
  color:#fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}
.fotter-heading{
  display: flex;
  flex-direction: column;
  margin-right: 4rem;

}
.fotter-heading h2 {
margin-bottom: 2rem;
}
.fotter-heading a{
  color:#fff;
  margin-bottom: 1rem;
}
a{
  color: black;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover{
  color:red;
  transition:0.3s ease-out;
}

p{
  margin: 0;
}



@media screen and (max-width: 1275px){
  .fotter-heading img {
    width: 250px;
    height: auto;
    margin-bottom: 2rem;
  }
  .fotter{
    height: 80vh;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 790px){
  .Termin{
    font-size: 1.2rem;
  }
  .nav{
    display:none;
  }
.welcome-text{
  margin-left: 10%;
  width: 75%;
}
  .about-text{
    margin-left: 10%;
    width: 75%;
  }
.Bertaung{
  margin-left: 10%;
  width: 75%;
}
}
