
body{
    background: url(images/Background6.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
    padding: 0;
}
.top{
  position: relative;
  width: auto;
  height: 300px;
}
.fotter{
  position: relative;
  top: 585px;
  right: 8px;
  width: auto;
  height: 100px;
  margin-left: 10px;
  padding: 0;
}

.ds{
  position: fixed;
  right: 200px;
  color: black;
}
.Kontakt{
  position: relative;
  padding-bottom: 20px;
}
.Kontakt2{
  position: relative;
  top: 30px;
}
img.Logo{
  height: 200px;
  left: 110px;
  position:relative;
  top: 10px;
}
img.instagram{
  top: -72px;
  left: 1061px;
  margin-right: 20px;
  position: relative;
}
.E-Mail{
  top: -73px;
  left: 1054px;
  position: relative;
}
.Termin{
  width: 200px;
  bottom: 25px;
  left: 1224px;
  position: relative;
  background-color:transparent;
  font-weight: bold;
  color: black;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 80px;
}
.Termin:hover, .Termin:focus{
  background-color: transparent;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropbtn {
  left: 1137px;
  top:-82px;
  position: relative;
  margin-bottom: 5px;
  background-color:transparent;
  font-weight: bold;
  color: black;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  border-radius: 80px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 143px;
  left: 1412px;
  font-weight: bold;
  background-color: transparent;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 50px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown a:hover {text-decoration: underline;
  color: white;}

.show {display: block;}